@import '../../styles/variables';

.contentWrapper {
  min-height: 100vh;
  max-width: 980px;
  background: $white;

  @media screen and (min-width: $breakpoint-md) {
    width: 90%;
    margin: 40px auto;
    border-radius: 10px;
    min-height: calc(100vh - 80px);
  }
}
