@import '../../styles/variables.scss';
@import '../../styles/typo.scss';

.wrapper {
  text-align: center;
}

.heading {
  color: $secondary-dark;
  text-transform: capitalize;
  margin-top: 7px;
}

.image {
  width: 200px;
}

.feedback {
  color: $secondary-dark;
}
