// colors
$tangerine: #ffa161;
$salmon: #ff856d;
$goldenrod: #fec969;
$clay: #8a6a34;
$nandor: #485750;
$keppel: #359a9b;

$white: #fff;
$black: #000;

$primary: $tangerine;
$primary-light: $salmon;
$secondary: $goldenrod;
$secondary-dark: $clay;
$tertiary: $nandor;
$tertiary-dark: $keppel;

//breakpoints
$breakpoint-tiny: 320px;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1152px;
$breakpoint-xl: 1920px;
